:root {
   --main-radius: 5px;
   --main-padding: 20px;
   --main-margin: 0.2rem;
}

.container {
   display: grid;
   height: 100vh;
   grid-template-columns: 1fr 1fr 0.7fr 50px;
   grid-template-rows: minmax(138px, auto);
   grid-template-areas:
      "header header header navbar"
      "about about sidebar sidebar"
      "related related sidebar sidebar"
      "content1 content2 sidebar sidebar"
      "footer footer footer footer";
   /* grid-gap: 0.2rem; */
}

.header {
   grid-area: header;
   border-bottom-left-radius: var(--main-radius);
   margin-bottom: var(--main-margin);
}

.navbar {
   grid-area: navbar;
   border-bottom-right-radius: var(--main-radius);
   margin-bottom: var(--main-margin);
}

.about {
   grid-area: about;
   margin: var(--main-margin);
}

.related {
   grid-area: related;
   border-radius: var(--main-radius);
   padding: var(--main-padding);
   margin: var(--main-margin);
}

.content1 {
   grid-area: content1;
   border-radius: var(--main-radius);
   padding: var(--main-padding);
   margin: var(--main-margin);
}

.content2 {
   grid-area: content2;
   border-radius: var(--main-radius);
   padding: var(--main-padding);
   margin: var(--main-margin);
}

.sidebar {
   grid-area: sidebar;
   border-radius: var(--main-radius);
   padding: var(--main-padding);
   margin: var(--main-margin);
}

.footer {
   grid-area: footer;
   border-radius: var(--main-radius);
   padding: var(--main-padding);
   margin: var(--main-margin);
}

@media only screen and (max-width: 769px) {
   .container {
      display: grid;
      height: 100vh;
      grid-template-columns: 0.9fr 0.2fr;
      grid-template-rows: auto;
      grid-template-areas:
         "header navbar"
         "about about"
         "related related"
         "sidebar sidebar"
         "content1 content1"
         "content2 content2"
         "footer footer";
   }
}